/* General Styles -------------------------------------------------------- */
    body {
        
        /* Layout Settings */
        box-sizing: border-box;
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        /*---------------------------------*/
        
        /* Grid Settings */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
            "head"
            "main"
            "foot";
        /*---------------------------------*/    
        
        /* Color Settings */
        background: whitesmoke;
        color: #343a40;
        /*---------------------------------*/ 
        
        /* Font Settings */
        font-family: "Montserrat", sans-serif;
        line-height: 1.5rem;
        /*---------------------------------*/ 
    }

    html {

        /* Scrolling Settings */
        scroll-padding-top: 4rem;
        /*---------------------------------*/ 
    }

    main {

        /* Layout Settings */
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        gap: 1rem;
        width: 90%;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        /*---------------------------------*/ 

        /* Grid Settings */
        grid-area: main;
        /*---------------------------------*/

    }

    .divider {

        /* Layout Settings */
        width: 70%;
        height: 2rem;
        margin: 1rem auto 0 auto;
        /*---------------------------------*/ 

        /* Border Settings */
        border-bottom: 4px solid #ce1126;
        /*---------------------------------*/ 
    }

    h1 {

        /* Layout Settings */
        padding-top: 1rem;
        /*---------------------------------*/ 

        /* Font Settings */
        text-align: center;
        text-transform: uppercase;
        /*---------------------------------*/ 

    }

    h2 {

        /* Font Settings */
        font-size: 1.4rem;
        text-align: left;
        /*---------------------------------*/ 

    }

    h3 {

        /* Font Settings */
        font-weight: normal;
        /*---------------------------------*/ 

    }

    p {

        /* Layout Settings */
        padding-left: 2rem;
        /*---------------------------------*/ 

        /* Border Settings */
        border-left: 4px solid #fbd116;
        /*---------------------------------*/ 
    }

    .close-btn {

        /* Color Settings */
        background: none;
        color: #ce1126;
        /*---------------------------------*/

        /* Font Settings */
        font-size: 2rem;
        /*---------------------------------*/

    }

/* ----------------------------------------------------------------------- */

/* Header Styles --------------------------------------------------------- */

    header {

        /* Layout Settings */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        height: 300px;
        margin: 4rem 0 0 0;
        /*---------------------------------*/ 

        /* Grid Settings */
        grid-area: head;
        /*---------------------------------*/ 

        /* Border Settings */
        border-bottom: 4px solid #ce1126;
        /*---------------------------------*/ 

    }

    .background-vid {

        /* Layout Settings */
        position: absolute;
        box-sizing: border-box;
        object-fit: cover;
        object-position: bottom;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 500;
        /*---------------------------------*/ 
    }

    /* Header Logo */

    .logo {

        /* Layout Settings */
        display: flex;
        justify-content: center;
        align-self: center;
        /*---------------------------------*/ 

    }

    .logo img {

        /* Layout Settings */
        position: relative;
        height: 250px;
        width: 250px;
        z-index: 1000;
        /*---------------------------------*/ 

    }

/* ----------------------------------------------------------------------- */

/* Button Bar ------------------------------------------------------------ */

    .btn-bar {

        /* Layout Settings */
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        height: 4rem;
        margin: 0;
        padding: 0 1rem;
        /*---------------------------------*/ 
        
        /* Color Settings */
        background: #283593;
        /*---------------------------------*/ 
        
    }

    .mode {

        /* Layout Settings */
        display: flex;
        justify-content: space-between;
        width: 4.5em;
        /*---------------------------------*/

    }

    button {

        /* Color Settings */
        background: #283593;
        color: whitesmoke;
        /*---------------------------------*/

        /* Font Settings */
        font-size: 1.3rem;
        /*---------------------------------*/

        /* Border Settings */
        border: none;
        border-radius: 5px;
        /*---------------------------------*/

        /* Transition Settings */
        transition: ease-in-out 0.3s;
        /*---------------------------------*/

        /* Extra Settings */
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        /*---------------------------------*/

    }

    .light-btn, .dark-btn {

        /* Layout Settings */
        padding-top: 7px;
        /*---------------------------------*/

        /* Extra Settings */
        transition: transform 0.3s ease-in-out;
        /*---------------------------------*/

    }

    .light-btn {

        /* Extra Styling */
        text-shadow: 0 0 10px #fbd116, 0 0 20px #fbd116;
        /*---------------------------------*/

    }

    .menu-btn {

        /* Extra Settings */
        transition: transform 0.3s ease-in-out; 
        /*---------------------------------*/

    }

    .light-btn:hover, .dark-btn:hover {

        /* Extra Settings */
        transform: scale(1.15);
        /*---------------------------------*/

    }

    .menu-btn:hover {

        /* Extra Settings */
        transform: scale(1.1); 
        /*---------------------------------*/

    }

/* ----------------------------------------------------------------------- */

/* Side Menu ------------------------------------------------------------- */
    .side-menu {

        /* Layout Settings */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        /*---------------------------------*/

    }

    .side-menu-items {

        /* Layout Settings */
        margin: 1rem 0;
        /*---------------------------------*/

    }

    .side-menu ul {

        /* Layout Settings */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;      
        /*---------------------------------*/

    }

    .side-menu-items li {

        /* Layout Settings */
        margin: 0 auto;
        padding: 0.5rem 0;   
        /*---------------------------------*/

        /* Extra Settings */
        transition: transform 0.3s ease-in-out; 
        /*---------------------------------*/

    }

    .side-menu-items li:hover {

        /* Extra Settings */
        transform: scale(1.1); 
        /*---------------------------------*/

    }

    .side-menu-mode {

        /* Layout Settings */
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 4.5rem;
        margin-top: 2rem;
        padding: 0;
        /*---------------------------------*/
    }

/* ----------------------------------------------------------------------- */

/* Hamburger Menu -------------------------------------------------------- */
    .hamburger-menu {

        /* Layout Settings */
        display: none;
        position: relative;
        height: 100vh;  
        padding: 1rem;
        /*---------------------------------*/

        /* Color Settings */
        background: #343a40;
        /*---------------------------------*/

    }

    .menu-close {

        /* Layout Settings */
        position: absolute;
        top: 0;
        right: 0;
        /*---------------------------------*/

    }

    .hamburger-menu-backdrop {

        /* Layout Settings */
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        /*---------------------------------*/

        /* Color Settings */
        background: rgba(0, 0, 0, 0.65);
        /*---------------------------------*/
        
    }

    nav {

        /* Layout Settings */
        display: none;
        height: auto;
        /*---------------------------------*/
    }

    .hamburger-menu ul {

        /* Layout Settings */
        margin: 0;
        padding: 0;
        /*---------------------------------*/

    }

    .hamburger-menu ul li {

        /* Extra Settings */
        transition: transform 0.3s ease-in-out; 
        /*---------------------------------*/

    }

    .hamburger-menu ul li:hover {

        /* Extra Settings */
        transform: scale(1.1); 
        /*---------------------------------*/

    }

/* ----------------------------------------------------------------------- */


/* General Menu ---------------------------------------------------------- */

    nav li, .hamburger-menu li {

        /* Layout Settings */ 
        margin: 0;
        padding: 1rem;
        /*---------------------------------*/

        /* List Settings */
        list-style: none;
        /*---------------------------------*/

    }

    nav li a, .hamburger-menu li a {

        /* Color Settings */
        color: whitesmoke;
        /*---------------------------------*/

        /* Link Settings */
        text-decoration: none;
        /*---------------------------------*/

    }

/* ----------------------------------------------------------------------- */

/* Recent Updates -------------------------------------------------------- */

    .social-media-updates {
        display: none;
    }

/* ----------------------------------------------------------------------- */

/* About Us Styles ------------------------------------------------------- */

    .about-us-grid {

        /* Grid Settings */
        display: grid;
        gap: 1rem;
        /*---------------------------------*/

    }

    .about-us-grid img {

        /* Layout Settings */
        max-width: 100%;
        /*---------------------------------*/

    }

    .objectives {

        /* Layout Settings */
        margin-bottom: 0;
        padding-bottom: 0;
        /*---------------------------------*/

    }

    .objectives ul {

        /* Layout Settings */
        padding: 1.2rem;
        padding-bottom: 0;
        /*---------------------------------*/
    }

/* ----------------------------------------------------------------------- */

/* Our Team Styles ------------------------------------------------------- */

    .team-grid {

        /* Grid Settings */
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        /*---------------------------------*/
        
    }

    .team-member img {

        /* Layout Settings */
        width: 100%;
        aspect-ratio: 1 /1;
        /*---------------------------------*/

        /* Border Settings */
        border-radius: 50%;
        /*---------------------------------*/

        /* Extra Settings */
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: background-color 0.5s ease-in-out;
        /*---------------------------------*/

    }

    .team-member img:hover, .team-member img:active {
        
        /* Color Settings */
        background-color: #d3d3d3;
        /*---------------------------------*/

    }

    .team-grid .team-member:nth-child(n + 5) {

        /* Layout Settings */
        display: none;
        /*---------------------------------*/

    }

    .team-grid.show-all .team-member:nth-child(n + 5) {

        /* Layout Settings */
        display: block;
        /*---------------------------------*/

    }

    .team-member h2 {

        /* Font Settinmgs */
        font-size: 1.25rem;
        /*---------------------------------*/
        
    }

    .team-member h3 {

        /* Font Settinmgs */
        font-size: 1rem;
        /*---------------------------------*/
        
    }

    .team-member p {

        /* Layout Settings */
        display: none;
        margin-bottom: 0;
        /*---------------------------------*/

    }

    .info {

        /* Font Settings */
        font-size: 1rem;
        font-weight: 400;
        text-transform: none;
        /*---------------------------------*/

    }

    .modal {

        /* Layout Settings */
        display: none;
        position: fixed;
        margin: 0;
        padding: 0;
        z-index: 1000;
        /*---------------------------------*/
        
    }

    .modal-backdrop {

        /* Layout Settings */
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        /*---------------------------------*/

        /* Color Settings */
        background: rgba(0, 0, 0, 0.65);
        /*---------------------------------*/

    }

    .modal img {

        /* Layout Settings */
        width: 80%;
        margin-top: 1rem;
        /*---------------------------------*/

    }

    .modal-content {

        /* Layout Settings */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
        max-width: 600px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 5000;
        padding: 1rem 0;
        /*---------------------------------*/

        /* Color Settings */
        background: #343a40;
        color: whitesmoke;
        /*---------------------------------*/

        /* Border Settings */
        border-radius: 1rem;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.65);
        /*---------------------------------*/

    }

    .modal-close {

        /* Layout Settings */
        position: absolute;
        top: 0;
        right: 0;
        /*---------------------------------*/
        
    }

    .modal-content p {

        /* Layout Settings */
        width: 80%;
        box-sizing: border-box;
        margin-top: 1rem;
        /*---------------------------------*/

    }

    .modal-content h2, .modal-content h3 {

        /* Layout Settings */
        align-self: flex-start;
        width: 80%;
        margin: 1rem auto 0 auto;
        /*---------------------------------*/
        
    }

    .view-more {

        /* Layout Settings */
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        /*---------------------------------*/

        /* Extra Settings */
        cursor: pointer;
        /*---------------------------------*/

    }

    .view-more button {

        /* Color Settings */
        background: none;
        color: #343a40;
        /*---------------------------------*/

        /* Text Settings */
        font-size: 1.1rem;
        font-weight: 500;
        /*---------------------------------*/

        /* Border Settings */
        border: none;
        /*---------------------------------*/

    }

/* ----------------------------------------------------------------------- */

/* Pilot School Styles --------------------------------------------------- */

    .school-details h2 {

        /* Layout Settings */
        padding-top: 1rem;
        /*---------------------------------*/

    }

    .school-details p {

        /* Layout Settings */
        padding-left: 2rem;
        /*---------------------------------*/

        /* Border Settings */
        border-left: 4px solid #fbd116;
        /*---------------------------------*/

    }

    .slide-show {

        /* Layout Settings */
        width: 100%;
        /*---------------------------------*/

    }

/* ----------------------------------------------------------------------- */

/* Donate ---------------------------------------------------------------- */

    .donate-info {

        /* Layout Settings */
        display: flex;
        flex-direction: column;
        align-items: center;
        /*---------------------------------*/

    }

    .donate-info h2 {

        /* Layout Settings */
        align-self: flex-start;
        /*---------------------------------*/

    }

    .donate-info p {

        /* Layout Settings */
        padding-left: 2rem;
        /*---------------------------------*/

        /* Border Settings */
        border-left: 4px solid #fbd116;
        /*---------------------------------*/

    }

    .donate-btn {

        /* Layout Settings */
        padding: 1rem 2rem;
        /*---------------------------------*/

        /* Color Settings */
        background: #0d9859;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.2);
        /*---------------------------------*/

    }

    .donate-btn:hover, .donate-btn:active {

        /* Color Settings */
        background: #07bd68;
        /*---------------------------------*/
        
    }

/* ----------------------------------------------------------------------- */

/* Footer Styles --------------------------------------------------------- */

    footer {

        /* Layout Settings */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        padding: 1rem 0;
        /*---------------------------------*/

        /* Grid Settings */
        grid-area: foot;
        /*---------------------------------*/

        /* Color Settings */
        background: #283593;
        color: whitesmoke;
        /*---------------------------------*/

        /* Border Settings */
        border-top: 4px solid #ce1126; 
        /*---------------------------------*/

    }

    footer p {

        /* Layout Settings */
        margin: 0.5rem 0;
        padding: 0;
        /*---------------------------------*/

        /* Border Settings */
        border: none;
        /*---------------------------------*/
        
    }

    .links {

        /* Layout Settings */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        gap: 2rem;
        /*---------------------------------*/

    }

    .links a {

        /* Color Settings */
        color: whitesmoke;
        /*---------------------------------*/

        /* Font Settings */
        font-size: 1.75rem;
        text-decoration: none;
        /*---------------------------------*/

        /* Extra Settings */
        transition: transform 0.3s ease-in-out;
        /*---------------------------------*/

    }

    .links a:hover {

        /* Extra Settings */
        transform: scale(1.1);
        /*---------------------------------*/

    }

/* ----------------------------------------------------------------------- */

/* Media Queries --------------------------------------------------------- */

@media (min-width:700px) {
    html {

        /* Layout Settings */
        scroll-padding-top: 0.01rem;
        /*---------------------------------*/

    }
    
    body {

        /* Grid Settings */
        grid-template-columns: 200px 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
            "head head"
            "menu main"
            "menu main"
            "menu foot";
        /*---------------------------------*/

    }

    header {

        /* Layout Settings */
        margin: 0;
        /*---------------------------------*/

    }

    .logo {

        /* Layout Settings */
        margin-top: 0;
        /*---------------------------------*/

    }

    .logo img {

        /* Layout Settings */
        width: 280px;
        height: 280px;
        /*---------------------------------*/

    }

    .btn-bar {

        /* Layout Settings */
        display: none;
        /*---------------------------------*/

    }

    nav {

        /* Layout Settings */
        display: flex;
        /*---------------------------------*/

        /* Grid Settings */
        grid-area: menu;
        /*---------------------------------*/

        /* Color Settings */
        background: #283593;
        /*---------------------------------*/

    }

    .side-menu {

        /* Layout Settings */
        align-self: start;
        position: sticky;
        top: 0;
        height: max-content;
        /*---------------------------------*/

    }

    .hamburger-menu {

        /* Layout Settings */
        display: none;
        /*---------------------------------*/

    }

    .menu-btn {

        /* Layout Settings */
        display: none;
        /*---------------------------------*/

    }

    main {

        /* Layout Settings */
        width: 85%;
        /*---------------------------------*/
        
    }

}

@media (min-width:1024px) {
    header {

        /* Layout Settings */
        height: 400px;
        /*---------------------------------*/
        
    }

    .background-vid {

        /* Background Settings */
        object-position: center calc(100% + 4rem);
        /*---------------------------------*/

    }

    .logo img {

        /* Layout Settings */
        width: 350px;
        height: 350px;
        /*---------------------------------*/

    }

    body {

        /* Font Settings */
        line-height: 2rem;
        /*---------------------------------*/

    }

    h1 {

        /* Font Settings */
        font-size: 3rem;
        /*---------------------------------*/

    }

    h2 {

        /* Font Settings */
        font-size: 2rem;
        /*---------------------------------*/

    }

    p {

        /* Font Settings */
        font-size: 1.2rem;
        /*---------------------------------*/

    }

    li {

        /* Font Settings */
        font-size: 1.2rem;
        /*---------------------------------*/

    }

    main {

        /* Layout Settings */
        width: 80%;
        /*---------------------------------*/

    }

    .about-us-grid {

        /* Grid Settings */
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 0 4rem;
        /*---------------------------------*/

    }

    .team-grid {

        /* Grid Settings */
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
        /*---------------------------------*/

    }

}

@media (min-width:1280px) {
    header {
    
        /* Layout Settings */
        height: 500px;
        /*---------------------------------*/

    }

    .background-vid {

        /* Layout Settings */
        object-position: center calc(100% + 8rem);
        /*---------------------------------*/

    }

    .logo img {

        /* Layout Settings */
        width: 400px;
        height: 400px;
        /*---------------------------------*/

    }

}

@media (min-width:1500px) {
    .background-vid {

        /* Layout Settings */
        object-position: center calc(100% +16rem);
        /*---------------------------------*/

    }

    .about-us-grid {

        /* Grid Settings */
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        /*---------------------------------*/

    }

    .team-grid {

        /* Grid Settings */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 4rem;
        /*---------------------------------*/

    }

    .team-member h2 {

        /* Font Settinmgs */
        font-size: 1.75rem;
        /*---------------------------------*/

    }

    .team-member h3 {

        /* Font Settinmgs */
        font-size: 1.3rem;
        /*---------------------------------*/
        
    }

}

/* ----------------------------------------------------------------------- */