/* General Styles ---------------------------------------------------------*/
    body {
        
        /* Layout Settings */
        box-sizing: border-box;
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        /*---------------------------------*/
        
        /* Grid Settings */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
            "head"
            "main"
            "foot";
        /*---------------------------------*/    
        
        /* Color Settings */
        background: whitesmoke;
        color: #343a40;
        /*---------------------------------*/ 
        
        /* Font Settings */
        font-family: "Montserrat", sans-serif;
        line-height: 1.5rem;
        /*---------------------------------*/ 
    }

    html {

        /* Scrolling Settings */
        scroll-padding-top: 4rem;
        /*---------------------------------*/ 
    }

    main {

        /* Layout Settings */
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        gap: 1rem;
        width: 85%;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        /*---------------------------------*/ 

        /* Grid Settings */
        grid-area: main;
        /*---------------------------------*/

    }

    .divider {

        /* Layout Settings */
        width: 70%;
        height: 2rem;
        margin: 1rem auto 0 auto;
        /*---------------------------------*/ 

        /* Border Settings */
        border-bottom: 4px solid #ce1126;
        /*---------------------------------*/ 
    }

    h1 {

        /* Layout Settings */
        padding-top: 1rem;
        /*---------------------------------*/ 

        /* Font Settings */
        text-align: center;
        text-transform: uppercase;
        /*---------------------------------*/ 

    }

    h2 {

        /* Font Settings */
        font-size: 1.4rem;
        text-align: left;
        /*---------------------------------*/ 

    }

    h3 {

        /* Font Settings */
        font-weight: normal;
        /*---------------------------------*/ 

    }

/* ----------------------------------------------------------------------- */

/* Header Styles ----------------------------------------------------------*/

    header {

        /* Layout Settings */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        height: 300px;
        margin: 4rem 0 0 0;
        /*---------------------------------*/ 

        /* Grid Settings */
        grid-area: head;
        /*---------------------------------*/ 

        /* Background Image Settings */
        /* background: url(./Images/sciences-matter-banner-mobile.webp);
        background-size: cover;
        background-position: center calc(50% + 2rem);
        /*---------------------------------*/ 

        /* Border Settings */
        border-bottom: 4px solid #ce1126;
        /*---------------------------------*/ 

    }

    .background-vid {

        /* Layout Settings */
        position: absolute;
        box-sizing: border-box;
        object-fit: cover;
        object-position: bottom;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 500;
        /*---------------------------------*/ 
    }

    /* Header Logo */

    .logo {

        /* Layout Settings */
        display: flex;
        justify-content: center;
        align-self: center;
        /*---------------------------------*/ 

    }

    .logo img {

        /* Layout Settings */
        position: relative;
        height: 150px;
        width: 150px;
        z-index: 1000;
        /*---------------------------------*/ 

        /* Color Settings */
        background: rgba(245, 245, 245, 0.6);
        /*---------------------------------*/ 

        /* Border Settings */
        border-radius: 1rem;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.75);
        /*---------------------------------*/ 

    }

/* ----------------------------------------------------------------------- */

/* Button Bar -------------------------------------------------------------*/

    .btn-bar {

        /* Layout Settings */
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        height: 4rem;
        margin: 0;
        padding: 0 1rem;
        /*---------------------------------*/ 
        
        /* Color Settings */
        background: #283593;
        /*---------------------------------*/ 
        
    }

    .mode {

        /* Layout Settings */
        display: flex;
        justify-content: space-between;
        width: 4.5em;
        /*---------------------------------*/

    }

    button {

        /* Color Settings */
        background: #283593;
        color: whitesmoke;
        /*---------------------------------*/

        /* Font Settings */
        font-size: 1.3rem;
        /*---------------------------------*/

        /* Border Settings */
        border: none;
        border-radius: 5px;
        /*---------------------------------*/

        /* Transition Settings */
        transition: ease-in-out 0.3s;
        /*---------------------------------*/

        /* Extra Settings */
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        /*---------------------------------*/

    }

    .light-btn, .dark-btn {

        /* Layout Settings */
        padding-top: 7px;
        /*---------------------------------*/

    }

    .light-btn {

        /* Extra Styling */
        text-shadow: 0 0 10px #fbd116, 0 0 20px #fbd116;
        /*---------------------------------*/

    }

/* ----------------------------------------------------------------------- */

/* Side Menu --------------------------------------------------------------*/
    .side-menu {

        /* Layout Settings */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        /*---------------------------------*/

    }

    .side-menu-items {

        /* Layout Settings */
        margin: 1rem 0;
        /*---------------------------------*/

    }

    .side-menu ul {

        /* Layout Settings */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;      
        /*---------------------------------*/

    }

    .side-menu-items li {

        /* Layout Settings */
        margin: 0 auto;
        padding: 0.5rem 0;   
        /*---------------------------------*/

    }

    .side-menu-mode {

        /* Layout Settings */
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 4.5rem;
        margin-top: 2rem;
        padding: 0;
        /*---------------------------------*/
    }

/* ----------------------------------------------------------------------- */

/* Hamburger Menu ---------------------------------------------------------*/
    .hamburger-menu {

        /*  Layout Settings */
        display: none;
        height: 100vh;  
        padding: 1rem;
        /*---------------------------------*/

        /* Color Settings */
        background: #343a40;
        /*---------------------------------*/

    }

    nav {

        /* Layout Settings */
        display: none;
        height: auto;
        /*---------------------------------*/
    }

    .hamburger-menu ul {

        /* Layout Settings */
        margin: 0;
        padding: 0;
        /*---------------------------------*/

    }

/* ----------------------------------------------------------------------- */


/* General Menu ---------------------------------------------------------*/

    nav li, .hamburger-menu li {

        /* Layout Settings */ 
        margin: 0;
        padding: 1rem;
        /*---------------------------------*/

        /* List Settings */
        list-style: none;
        /*---------------------------------*/

    }

    nav li a, .hamburger-menu li a {

        /* Color Settings */
        color: whitesmoke;
        /*---------------------------------*/

        /* Link Settings */
        text-decoration: none;
        /*---------------------------------*/

    }

/* ----------------------------------------------------------------------- */

/* About Us Styles --------------------------------------------------------*/

    .about-us-grid {

        /* Grid Settings */
        display: grid;
        gap: 1rem;
        /*---------------------------------*/

    }

    .about-us-grid img {

        /* Layout Settings */
        max-width: 100%;
        /*---------------------------------*/

    }

    .vision p, .mission p, .objectives p {

        /* Layout Settings */
        padding-left: 2rem;
        /*---------------------------------*/

        /* Border Settings */
        border-left: 4px solid #fbd116;
        /*---------------------------------*/

    }

    .objectives {

        /* Layout Settings */
        margin-bottom: 0;
        padding-bottom: 0;
        /*---------------------------------*/

    }

    .objectives ul {

        /* Layout Settings */
        padding: 1.2rem;
        padding-bottom: 0;
        /*---------------------------------*/
    }

/* ----------------------------------------------------------------------- */

/* Our Team Styles --------------------------------------------------------*/

    .team-grid {

        /* Grid Settings */
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        /*---------------------------------*/
        
    }

    .team-member img {

        /* Layout Settings */
        width: 100%;
        aspect-ratio: 1 /1;
        /*---------------------------------*/

        /* Border Settings */
        border-radius: 50%;
        /*---------------------------------*/

        /* Extra Settings */
        cursor: pointer;
        /*---------------------------------*/

    }

    .team-member img:hover, .team-member img:active {
        
        /* Color Settings */
        background: #d3d3d3;
        /*---------------------------------*/

    }

    .team-member p {

        /* Layout Settings  */
        margin-bottom: 0;
        padding-left: 2rem;
        /*---------------------------------*/

        /* Border Settings */
        border-left: 4px solid #fbd116;
        /*---------------------------------*/

    }

/* ----------------------------------------------------------------------- */

/* Pilot School Styles ----------------------------------------------------*/

    .school-details h2 {

        /* Layout Settings */
        padding-top: 1rem;
        /*---------------------------------*/

    }

    .school-details p {

        /* Layout Settings */
        padding-left: 2rem;
        /*---------------------------------*/

        /* Border Settings */
        border-left: 4px solid #fbd116;
        /*---------------------------------*/

    }

    .slide-show {

        /* Layout Settings */
        width: 100%;
        /*---------------------------------*/

    }

/* ----------------------------------------------------------------------- */

/* Donate -----------------------------------------------------------------*/

    .donate-info {

        /* Layout Settings */
        display: flex;
        flex-direction: column;
        align-items: center;
        /*---------------------------------*/

    }

    .donate-info h2 {

        /* Layout Settings */
        align-self: flex-start;
        /*---------------------------------*/

    }

    .donate-info p {

        /* Layout Settings */
        padding-left: 2rem;
        /*---------------------------------*/

        /* Border Settings */
        border-left: 4px solid #fbd116;
        /*---------------------------------*/

    }

    .donate-btn {

        /* Layout Settings */
        padding: 1rem 2rem;
        /*---------------------------------*/

        /* Color Settings */
        background: #0d9859;
        /*---------------------------------*/

    }

    .donate-btn:hover, .donate-btn:active {

        /* Color Settings */
        background: #134611;
        /*---------------------------------*/
        
    }

/* ----------------------------------------------------------------------- */

/* Footer Styles ----------------------------------------------------------*/

    footer {

        /* Layout Settings */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        padding: 1rem 0;
        /*---------------------------------*/

        /* Grid Settings */
        grid-area: foot;
        /*---------------------------------*/

        /* Color Settings */
        background: #283593;
        color: whitesmoke;
        /*---------------------------------*/

        /* Border Settings */
        border-top: 4px solid #ce1126; 
        /*---------------------------------*/

    }

    footer p {

        /* Layout Settings */
        margin: 0.5rem 0;
        /*---------------------------------*/
        
    }

/* ----------------------------------------------------------------------- */

@media (min-width:700px) {
    html {
        scroll-padding-top: 0.01rem;
    }
    
    body {
        grid-template-columns: 200px 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
            "head head"
            "menu main"
            "menu main"
            "menu foot";
    }

    header {
        background-image: url(./Images/sciences-matter-banner-tablet.png);
        background-position: center;
        margin: 0;
    }

    .logo {
        margin-top: 0;
    }

    .logo img {
        width: 200px;
        height: 200px;
    }

    .btn-bar {
        display: none;
    }

    nav {
        grid-area: menu;
        display: flex;
        background: #283593;
    }

    .side-menu {
        position: sticky;
        top: 0;
        align-self: start;
        height: max-content;
    }

    .hamburger-menu {
        display: none;
    }

    .menu-btn {
        display: none;
    }

    main {
        width: 75%;
    }

}

@media (min-width:1024px) {
    header {
        background-image: url(./Images/sciences-matter-banner-1024px.png);
        background-position: center;
        height: 400px;
    }

    .background-vid {
        object-position: center calc(100% + 4rem);
    }

    .logo img {
        width: 250px;
        height: 250px;
    }

    body {
        line-height: 2rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    li {
        font-size: 1.2rem;
    }

    main {
        width: 80%;
    }

    .about-us-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .team-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }

}

@media (min-width:1280px) {
    header {
        background-image: url(./Images/sciences-matter-banner-1280px.png);
        height: 500px;
    }

    .background-vid {
        object-position: center calc(100% + 8rem);
    }

    main {
        width: 70%;
    }

    .logo img {
        width: 300px;
        height: 300px;
    }
}

@media (min-width:1500px) {
    .background-vid {
        object-position: center calc(100% +16rem)
    }
}